.bar {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    box-shadow: gr;
    position: sticky;
    float: right;
    margin-bottom: 20px;
  }
  .title {
    float: left;
  }
  
  .item {
    display: block;
    color: #bd9158 !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .item:hover {
    background-color: #bd9158;
    color: #FFFFFF !important;
    border-radius: 5px;
  }
  .menu{
    margin: 20px;
  }
  .color{
    color: #c23982;
  }