.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: gr;
    position: sticky;
    float: right;
  }
  strong{
    color: #c23982;
  }
  .title {
    float: left;
  }
  
  .item {
    display: block;
    color: #bd9158 !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .item:hover {
    background-color: #bd9158;
    color: #FFFFFF !important;
  }
  .menu{
    margin: 20px;
  }
  .color{
    color: #c23982;
  }