.bar {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    box-shadow: gr;
    position: sticky;
  }
  .title {
    float: left;
  }
  .menu{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .item {
    display: block;
    color: #bd9158 !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .item:hover {
    background-color: #bd9158;
    color: #FFFFFF !important;
    border-radius: 5px;
  }